version: '3'
services:
  app:
    build: .
    restart: always
    env_file: .env
    healthcheck:
      test: ["curl", "--fail", "http://localhost:8000/healthcheck"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - app-data:/app
    depends_on:
      - postgresql
      - redis
    ports:
      - "8000:8000"

  postgresql:
    image: postgres:13
    restart: always
    env_file: .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:6
    restart: always
    env_file: .env
    healthcheck:
      test: ["redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - redis-data:/data

volumes:
  app-data:
  postgres-data:
  redis-data:
